<h3>🔎 Рейсы: {{.City}}</h3>
<b>{{.DirectionTitle}}</b> (Стр {{.Page}} из {{.PageCount}})<br>

<table bordered striped compact>
<tr>
  <td align="left"><b>Рейс</b></td>
  <td align="center"><b>Терминал</b></td>
  <td align="center"><b>Время</b></td>
  <td align="center"><b>Инфо</b></td>
  <td align="center"><b>Стойки</b></td>
  <td align="center"><b>Багажная лента</b></td>
  <td align="center"><b>Сайт</b></td>
</tr>
{{range .Flights}}<tr>
  <td align="left">
    {{.Provider}} <b>{{.Arrow}}</b> {{.Dest}}<br>
    <a href="{{.ActionURL}}"><b>{{.Code}}</b></a>
  </td>
  <td align="center">{{.Terminal}}</td>
  <td align="center">{{.Date}}<br>{{.Time}}</td>
  <td align="center" width="200">{{.Info}}</td>
  <td align="center">{{.CheckInDesk}}</td>
  <td align="center">{{.BaggageBelt}}</td>
  <td align="center"><a href="{{.ExternalURL}}">🔗</a></td>
</tr>{{end}}
</table>